<div class="master__container">
  <nz-layout>
    <!-- <nz-sider
      [nzCollapsed]="true"
      [nzCollapsedWidth]="0"
      [nzCollapsible]="false"
      nzWidth="0px"
      [nzTheme]="'light'">
      <div class="sidebar__content">
        <div class="sidebar__form">
          <div class="sidebar__form--close">
            <app-button-common
              class="w-full sidebar__form--close-btn"
              [iconType]="'to-top'"
              [nzType]="'text'"
              [iconRotate]="-90"></app-button-common>
          </div>
          <form
            class="sidebar__form--form"
            nz-form
            [formGroup]="validateForm"
            [nzLayout]="'vertical'">
            <nz-form-item>
              <nz-form-label [nzSpan]="null">Keyword</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="PleaseEnterKeyword">
                <input nz-input formControlName="Keyword" id="Keyword" />
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>

        <div class="sidebar__btnsearch">
          <app-button-common
            class="w-full"
            [iconType]="'search'"
            [nzType]="'primary'"
            [text]="'Search'"></app-button-common>
        </div>
      </div>
    </nz-sider> -->

    <!-- <app-sidebar-search /> -->

    <nz-content>
      <nz-table
        nzShowSizeChanger
        [nzData]="dataSource"
        [nzScroll]="{ x: 'w-full' }"
        [nzFrontPagination]="false"
        [nzLoading]="false">
        <thead>
          <tr>
            <th nzColumnKey="Idx" [nzSortFn]="true" [nzWidth]="'10px'">#</th>
            <th nzColumnKey="RecordId" [nzSortFn]="true" [nzWidth]="'10px'">
              Record ID
            </th>
            <th nzColumnKey="Level" [nzSortFn]="true" [nzWidth]="'15px'">
              Level
            </th>
            <th nzColumnKey="IPAddress" [nzSortFn]="true" [nzWidth]="'10px'">
              IP Address
            </th>
            <th nzColumnKey="Description" [nzSortFn]="true" [nzWidth]="'30px'">
              Description
            </th>
            <th nzColumnKey="RequestUrl" [nzSortFn]="true" [nzWidth]="'20px'">
              Request URL
            </th>
            <th nzColumnKey="TrailType" [nzSortFn]="true" [nzWidth]="'15px'">
              Trail Type
            </th>
            <th nzColumnKey="ChangedDTime" [nzSortFn]="true" [nzWidth]="'20px'">
              Changed Time
            </th>
            <th nzColumnKey="ChangedBy" [nzSortFn]="true" [nzWidth]="'20px'">
              Changed By
            </th>
            <th nzColumnKey="IsRevoked" [nzSortFn]="true" [nzWidth]="'20px'">
              IsRevoked
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource; let i = index">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              {{ data.RecordId }}
            </td>
            <td>
              <app-tag-status [sttValue]="data.Level"></app-tag-status>
            </td>
            <td>{{ data.IPAddress }}</td>
            <td>{{ data.Description }}</td>
            <td>{{ data.RequestUrl }}</td>
            <td>
              <app-tag-status [sttValue]="data.TrailType"></app-tag-status>
            </td>
            <td>{{ data.ChangedDTime | localeDTime }}</td>
            <td>{{ data.ChangedBy }}</td>
            <td>{{ data.IsRevoked }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-content>
  </nz-layout>
</div>
