<nz-upload
  class="article-image-upload"
  nzType="drag"
  nzAccept="image/jpeg,image/png,image/webp"
  [nzShowUploadList]="false"
  formControlName="Thumbnail"
  [(nzFileList)]="thumnail"
  [nzBeforeUpload]="handleUploadFile">
  <div *ngIf="!imageUrl" class="article-image-upload__empty">
    <span nz-icon nzType="picture" class="article-image-upload__icon"></span>
    <strong>Tải ảnh lên</strong>
    <span>Kéo thả ảnh vào đây hoặc nhấn để chọn</span>
    <small>JPG, PNG, WebP · Nên dùng tỷ lệ 16:9</small>
  </div>

  <div *ngIf="imageUrl" class="article-image-upload__preview">
    <img [src]="imageUrl" alt="Ảnh bài viết" />
    <div class="article-image-upload__replace">
      <span nz-icon nzType="upload"></span>
      <span>Thay ảnh</span>
    </div>
  </div>
</nz-upload>
<nz-modal
  [nzVisible]="previewVisible"
  [nzContent]="modalContent"
  [nzFooter]="null"
  (nzOnCancel)="previewVisible = false">
  <ng-template #modalContent>
    <img
      [src]="previewImage"
      [ngStyle]="{ width: '100%' }"
      alt="previewImage" />
  </ng-template>
</nz-modal>
