.chat__container {
    border: 1px solid red;
    position: relative;
    scroll-behavior: "smooth";

    .comment__container {
        .ant-comment-inner {
            padding: 0px 0px !important;
        } 
    } 
    
    .myMessage {
        background-color: blue;
        color: white;
        padding: 6px 8px;
        border-radius: 20px;
    }

    .form__send {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
 
