<form
  class="overflow-hidden"
  nz-form
  [formGroup]="validateForm"
  (ngSubmit)="submitForm()">
  <nz-form-item class="fixed top-0 w-full z-10 bg-[#fff] px-[10px] py-[4px]">
    <nz-form-control>
      <button nz-button nzType="primary">
        <span nz-icon nzType="upload" nzTheme="outline"></span>
        {{ 'T_POST' | translate }}
      </button>
    </nz-form-control>
  </nz-form-item>
  <div
    nz-row
    [nzGutter]="24"
    class="flex items-center justify-center blogpost__container">
    <div nz-col [nzSpan]="8" [nzXs]="24" [nzMd]="8">
      <nz-form-item>
        <nz-form-label nzLabelAlign="left" nzSpan="8" nzRequired
          >{{ 'T_SHORTTITLE' | translate }}
        </nz-form-label>
        <nz-form-control nzValidatingTip="Validating..." nzErrorTip="Required!">
          <input
            nz-input
            formControlName="ShortTitle"
            id="ShortTitle"
            [placeholder]="'T_TYPINGNEWSTITLE' | translate" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzLabelAlign="left" nzSpan="8" nzRequired>{{
          'T_SHORTDESCRIPTION' | translate
        }}</nz-form-label>
        <nz-form-control nzValidatingTip="Validating..." nzErrorTip="Required!">
          <nz-textarea-count [nzMaxCharacterCount]="100">
            <textarea
              rows="4"
              formControlName="ShortDescription"
              [placeholder]="'T_TYPINGNEWSSHORTDESCRIPTION' | translate"
              nz-input></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzLabelAlign="left" nzSpan="8" nzRequired>{{
          'T_CATEGORYNEWSID' | translate
        }}</nz-form-label>
        <nz-form-control nzValidatingTip="Validating..." nzErrorTip="Required!">
          <nz-tree-select
            formControlName="CategoryNewsId"
            [nzNodes]="nodes"
            nzShowSearch
            [nzPlaceHolder]="'T_PLEASESELECT' | translate"
            (ngModelChange)="onSelectedCategoryNews($event)"></nz-tree-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzLabelAlign="left" nzSpan="8" nzFor="mention">{{
          'T_LSTHASHTAGNEWS' | translate
        }}</nz-form-label>
        <nz-form-control nzErrorTip="More than one must be selected!">
          <nz-mention #mentions>
            <textarea
              rows="1"
              id="LstHashTagNews"
              [placeholder]="'T_LISTHASHTAG' | translate"
              formControlName="LstHashTagNews"
              nzMentionTrigger
              nz-input></textarea>
          </nz-mention>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzLabelAlign="left" nzSpan="8" nzRequired>{{
          'T_THUMNAIL' | translate
        }}</nz-form-label>
        <nz-form-control nzValidatingTip="Validating..." nzErrorTip="Required!">
          <app-upload-common (_onClick)="handleUploadFile($event)" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzLabelAlign="left" nzSpan="8">{{
          'T_LSTREFFILENEWS' | translate
        }}</nz-form-label>
        <nz-form-control formControlName="LstRefFileNews">
          <nz-upload
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            [nzFileList]="lstRefFileNews">
            <button nz-button>
              <span nz-icon nzType="upload"></span>
              {{ 'T_UPLOAD' | translate }}
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="16" [nzXs]="24" [nzMd]="16">
      <nz-form-item>
        <nz-form-control nzValidatingTip="Validating...">
          <app-text-editor
            formControlName="ContentBody"
            (onContentChanged)="handleContentChangedEditor($event)" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
