<div
  class="toc-backdrop"
  *ngIf="tocPanel.isOpen$ | async"
  (click)="close()"></div>

<aside
  class="toc-panel"
  *ngIf="tocItems.length > 0"
  [class.is-open]="tocPanel.isOpen$ | async">
  <h3 class="toc-title">{{ 'T_MUCLUC' | translate }}</h3>
  <div class="toc-scroll">
    <ul class="toc-list">
      <li
        *ngFor="let item of tocItems"
        [class]="'toc-item toc-level-' + item.level"
        [class.active]="activeId === item.id"
        (click)="onItemClick(item.id)">
        <a href="javascript:void(0)" class="toc-link">
          {{ item.text }}
        </a>
      </li>
    </ul>
  </div>
</aside>
