/API/src/angnet.WebApi/appsettings.json
/API/src/angnet.WebApi/appsettings.Production.json
/API/src/angnet.WebApi/appsettings.Development.json
/API/src/angnet.WebApi/bin/
/API/src/angnet.WebApi/obj/
/API/src/angnet.WebApi/Publish/
/API/src/angnet.WebApi/RuntimeData/
# =================
/API/src/angnet.Application/bin/
/API/src/angnet.Application/obj/
# =================
/API/src/angnet.Domain/bin/
/API/src/angnet.Domain/obj/
# =================
/API/src/angnet.Infrastructure/bin/
/API/src/angnet.Infrastructure/obj/

/API/test/angnet.InfrastructureTests/bin/
/API/test/angnet.InfrastructureTests/obj/
# =================
/API/src/angnet.Utility/bin/
/API/src/angnet.Utility/obj/
# =================
/Mobile/bin/
/Mobile/obj/
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
# Compiled output
/Client/dist/
!/src/environments/
/Client/tmp/
/Client/out-tsc/
/Client/bazel-out/
/Client/.angular/
/Client/.vscode/
/Client/.vs/
# Node
/Client/node_modules/
# System files
.DS_Store
Thumbs.db
.vscode/
.vs

# # See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# # Compiled output
# /dist
# /tmp
# /out-tsc
# /bazel-out

# # Node
# /node_modules
# npm-debug.log
# yarn-error.log

# # IDEs and editors
# .idea/
# .project
# .classpath
# .c9/
# *.launch
# .settings/
# *.sublime-workspace

# # Visual Studio Code
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
# .history/*

# # Miscellaneous
# /.angular/cache
# .sass-cache/
# /connect.lock
# /coverage
# /libpeerconnection.log
# testem.log
# /typings

# # System files
# .DS_Store
# Thumbs.db
