<div class="master__container">
  <app-breadcrumb title="System Parameter" [buttons]="listButtonsHeader" />

  <!-- Thanh tìm kiếm -->
  <form
    class="sysparam__search"
    nz-form
    [formGroup]="searchForm"
    [nzLayout]="'inline'"
    (ngSubmit)="handleSearch()">
    <nz-form-item>
      <nz-form-control>
        <input
          nz-input
          formControlName="Keyword"
          placeholder="Tìm theo mã / tên..."
          class="sysparam__search-keyword" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-select
          formControlName="Category"
          nzAllowClear
          nzPlaceHolder="Tất cả nhóm"
          class="sysparam__search-category">
          <nz-option
            *ngFor="let c of categoryOptions"
            [nzValue]="c"
            [nzLabel]="c"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <button nz-button nzType="primary" type="submit">
        <span nz-icon nzType="search"></span> Search
      </button>
    </nz-form-item>

    <nz-form-item>
      <button nz-button nzType="default" type="button" (click)="handleResetSearch()">
        <span nz-icon nzType="reload"></span> Reset
      </button>
    </nz-form-item>
  </form>

  <nz-layout>
    <nz-content>
      <nz-table
        nzShowSizeChanger
        [nzData]="dataSource"
        [nzScroll]="{ x: '1100px' }"
        [nzFrontPagination]="true"
        [nzPageSize]="20"
        [nzLoading]="false">
        <thead>
          <tr>
            <th nzWidth="90px"></th>
            <th nzWidth="60px">#</th>
            <th nzColumnKey="ParameterCode" [nzSortFn]="true">Code</th>
            <th nzColumnKey="ParameterNameVi" [nzSortFn]="true">Name (VI)</th>
            <th nzColumnKey="ParameterValueVi" nzWidth="320px">Value (VI)</th>
            <th nzColumnKey="DefaultValueVi" nzWidth="200px">Default (VI)</th>
            <th nzColumnKey="DataType" [nzSortFn]="true">Data Type</th>
            <th nzColumnKey="Category" [nzSortFn]="true">Category</th>
            <th nzColumnKey="SortOrder" [nzSortFn]="true" nzWidth="80px">
              Sort
            </th>
            <th nzColumnKey="FlagActive" [nzSortFn]="true" nzWidth="100px">
              Active
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource; let i = index">
            <td>
              <app-button-common
                [iconType]="'edit'"
                [iconTheme]="'outline'"
                [nzType]="'text'"
                (_onClick)="handleDetail(data)"></app-button-common>
              <app-button-common
                [isShowConfirm]="true"
                [iconType]="'delete'"
                [iconTheme]="'outline'"
                [nzType]="'text'"
                (_onClick)="handleDelete(data)"></app-button-common>
            </td>
            <td>{{ i + 1 }}</td>
            <td>
              <strong>{{ data.ParameterCode }}</strong>
            </td>
            <td>{{ data.ParameterNameVi }}</td>
            <td>
              <div class="sysparam__cell" [title]="data.ParameterValueVi">
                {{ data.ParameterValueVi }}
              </div>
            </td>
            <td>
              <div class="sysparam__cell" [title]="data.DefaultValueVi">
                {{ data.DefaultValueVi }}
              </div>
            </td>
            <td>
              <nz-tag [nzColor]="'geekblue'">{{ data.DataType }}</nz-tag>
            </td>
            <td>
              <nz-tag [nzColor]="'purple'">{{ data.Category }}</nz-tag>
            </td>
            <td>{{ data.SortOrder }}</td>
            <td>
              <app-tag-status
                [sttValue]="
                  data.FlagActive ? 'ACTIVE' : 'INACTIVE'
                "></app-tag-status>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-content>
  </nz-layout>
</div>

<app-save-sys-parameter-popup
  [titlePopup]="titlePopup"
  [formDataSource]="formDataSource"
  [(isOpenPopup)]="_isOpenPopup"
  (_onSave)="handleSaveForm($event)" />
