<span
  nz-icon
  [ngClass]="class"
  [nzType]="iconType"
  [nzTheme]="iconTheme"
  [nzSpin]="iconSpin"
  [nzTwotoneColor]="iconTwotoneColor"
  [nzIconfont]="iconIconfont"
  [nzRotate]="iconRotate"></span>

<!-- 
  [nzType]	Type of the ant design icon	string	-	
  [nzTheme]	Type of the ant design icon	'fill'|'outline'|'twotone'	'outline'	✅
  [nzSpin]	Rotate icon with animation	boolean	false	
  [nzTwotoneColor]	Only support the two-tone icon. Specific the primary color.	string (hex color)	-	✅
  [nzIconfont]	Type of the icon from iconfont	string	-	
  [nzRotate]	Rotate degrees	number 
-->
