nz-layout {
    height: 100%;
}

nz-header {
    position: fixed;
    width: 100%;
    padding: 0 !important;
    z-index: 1;
}

nz-content {
    margin: 64.8px 0;
    width: 100%;
}

.admin__layout--content {
    margin: 0;
}

nz-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    height: max-content;

}

.app__loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 100;

    nz-spin {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


// =============

.chat-toggle-btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1050;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.chat-box-container {
    position: fixed;
    bottom: 80px; // cách nút một chút
    right: 24px;
    width: 400px;
    height: 450px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1049;
    animation: slideUp 0.3s ease;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}