<div class="flex gap-[14px]">
  <div class="h-[68px] !w-[58px] rounded-[10px] overflow-hidden flex-shrink-0">
    <a [routerLink]="['/news', item.CategoryNewsId, item.NewsId]">
      <img
        class="h-full w-full object-cover"
        [src]="item.Thumbnail | sizeImgCloudinary"
        [alt]="item.Slug" />
    </a>
  </div>
  <div class="flex-1 min-w-0">
    <a [routerLink]="['/news', item.CategoryNewsId, item.NewsId]">
      <h5
        class="hover:text-[#5b4fe9] transition-colors font-montserrat text-[14px] text-[#1a1a2e] leading-[1.35] font-bold mb-[4px]">
        {{ item.ShortTitle }}
      </h5>
    </a>
    <p class="font-montserrat text-[#8a8a99] text-[11.5px]">
      {{ item.CreatedDTime | localeDTime: 'dd-mm-yy hh:mm' }}
    </p>
  </div>
</div>
