<div class="flex h-[100%]">
  <div
    class="bg-white rounded-2xl shadow-lg p-8 border border-gray-200 forgotpassword__container">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-gray-800 mb-2">
        {{
          (isVisibleVerifyCode ? 'T_VERIFY' : 'T_FORGOTPASSWORD') | translate
        }}
      </h2>
      <p class="text-gray-500 text-sm">
        {{
          (isVisibleVerifyCode
            ? 'T_ENTERTOKENCODEJUSTSENDTOYOUREMAILBOX'
            : 'T_ENTERYOUREMAILWHICHYOULOGINACCOUNTBEFORE'
          ) | translate
        }}
      </p>
    </div>

    <form
      *ngIf="!isVisibleVerifyCode"
      nz-form
      class="space-y-5 w-[80%]"
      [formGroup]="validateForm"
      (ngSubmit)="submitSendTokenCode($event)">
      <nz-form-item>
        <nz-form-control
          [nzErrorTip]="emailError"
          [nzValidateStatus]="validateForm.getError('email')">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="text"
              nz-input
              formControlName="email"
              class="rounded-lg"
              [placeholder]="'T_ENTERYOUREMAIL' | translate" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            class="w-full py-2 rounded-lg font-semibold shadow-md hover:shadow-lg transition">
            {{ 'T_SENDMAIL' | translate }}
          </button>
        </nz-form-control>
      </nz-form-item>

      <div class="text-center mt-4">
        <a routerLink="/" class="text-blue-500 hover:underline font-medium">
          ← {{ 'T_BACK' | translate }}
        </a>
      </div>
    </form>

    <form
      *ngIf="isVisibleVerifyCode"
      nz-form
      class="space-y-5 w-[80%]"
      [formGroup]="validateFormTokenCode"
      (ngSubmit)="submitVerifyTokenCode($event)">
      <nz-form-item>
        <nz-form-control nzErrorTip="Enter token code!">
          <nz-input-group nzPrefixIcon="safety-certificate">
            <input
              type="text"
              nz-input
              formControlName="tokenCode"
              class="rounded-lg"
              [placeholder]="'T_ENTERTOKENCODE' | translate" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            class="w-full py-2 rounded-lg font-semibold shadow-md hover:shadow-lg transition">
            {{ 'T_VERIFY' | translate }}
          </button>
        </nz-form-control>
      </nz-form-item>
      <div class="text-center mt-4">
        <button
          (click)="backToGetNewCode()"
          nz-button
          nzType="link"
          class="text-blue-500 hover:underline font-medium">
          <u>
            {{ 'T_GETNEWTOKENCODE' | translate }}
          </u>
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #emailError let-control>
  <ng-container *ngIf="control.hasError('required')">
    {{ 'T_PLEASEENTERYOUREMAILTOGETTOKENCODE' | translate }}
  </ng-container>
  <ng-container *ngIf="control.hasError('email')">
    {{ 'T_INVALIDFORMATEMAIL' | translate }}
  </ng-container>
</ng-template>
