<nz-modal
  [nzVisible]="isOpenPopup"
  [nzTitle]="titlePopup"
  [nzWidth]="760"
  (nzOnOk)="handleSave()"
  (nzOnCancel)="handleCancel()">
  <form
    *nzModalContent
    nz-form
    [formGroup]="validateForm"
    [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">
            Parameter Code
          </nz-form-label>
          <nz-form-control nzErrorTip="Parameter code is required!">
            <input
              nz-input
              formControlName="ParameterCode"
              placeholder="VD: SITE_TITLE" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">Category</nz-form-label>
          <nz-form-control nzErrorTip="Category is required!">
            <input
              nz-input
              formControlName="Category"
              placeholder="VD: General, Email..." />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">Data Type</nz-form-label>
          <nz-form-control nzErrorTip="Data type is required!">
            <nz-select formControlName="DataType" nzPlaceHolder="Chọn kiểu">
              <nz-option
                *ngFor="let t of dataTypeOptions"
                [nzValue]="t"
                [nzLabel]="t"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Sort Order</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="number"
              formControlName="SortOrder"
              placeholder="0" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">Name (VI)</nz-form-label>
          <nz-form-control nzErrorTip="Name (VI) is required!">
            <input nz-input formControlName="ParameterNameVi" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">Name (EN)</nz-form-label>
          <nz-form-control nzErrorTip="Name (EN) is required!">
            <input nz-input formControlName="ParameterNameEn" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">Value (VI)</nz-form-label>
          <nz-form-control nzErrorTip="Value (VI) is required!">
            <input nz-input formControlName="ParameterValueVi" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">Value (EN)</nz-form-label>
          <nz-form-control nzErrorTip="Value (EN) is required!">
            <input nz-input formControlName="ParameterValueEn" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">
            Default Value (VI)
          </nz-form-label>
          <nz-form-control nzErrorTip="Default value (VI) is required!">
            <input nz-input formControlName="DefaultValueVi" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzNoColon]="true">
            Default Value (EN)
          </nz-form-label>
          <nz-form-control nzErrorTip="Default value (EN) is required!">
            <input nz-input formControlName="DefaultValueEn" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Description (VI)</nz-form-label>
          <nz-form-control>
            <textarea
              nz-input
              rows="2"
              formControlName="DescriptionVi"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Description (EN)</nz-form-label>
          <nz-form-control>
            <textarea
              nz-input
              rows="2"
              formControlName="DescriptionEn"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-label [nzNoColon]="true">Active</nz-form-label>
      <nz-form-control>
        <nz-switch
          formControlName="FlagActive"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
        <ng-template #checkedTemplate>
          <span nz-icon nzType="check"></span>
        </ng-template>
        <ng-template #unCheckedTemplate>
          <span nz-icon nzType="close"></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
