<div class="">
  <app-discovery-banner></app-discovery-banner>

  <!-- Dải chủ đề thay cho app-topic-nav cũ: cùng vai trò điều hướng theo chủ đề
       nhưng có số bài, nên không giữ cả hai trên cùng một trang. -->
  <app-category-showcase></app-category-showcase>

  <!-- Đặt sau dải chủ đề chứ không ngay dưới banner: banner cũng là ảnh lớn phủ
       overlay tối, hai khối nằm liền nhau sẽ nặng và lặp. Dải chủ đề nền sáng
       chen vào giữa làm nhịp nghỉ. -->
  <app-featured-news></app-featured-news>

  <div class="home__container">
    <div class="home__content">
      <app-new-news></app-new-news>
    </div>
    <div class="home__aside">
      <app-home-sidebar class="sticky top-[70.8px] block"></app-home-sidebar>
    </div>
  </div>

  <div class="mb-4 mt-10">
    <app-subscribe-notify></app-subscribe-notify>
  </div>
</div>
