<div class="">
  <app-discovery-banner></app-discovery-banner>

  <app-topic-nav></app-topic-nav>

  <!-- Đặt sau topic-nav chứ không ngay dưới banner: banner cũng là ảnh lớn phủ
       overlay tối, hai khối nằm liền nhau sẽ nặng và lặp. Dải chủ đề nền sáng
       chen vào giữa làm nhịp nghỉ. -->
  <app-featured-news></app-featured-news>

  <div class="home__container">
    <div class="home__content">
      <app-new-news></app-new-news>
    </div>
    <div class="home__aside">
      <app-home-sidebar class="sticky top-[46.8px] block"></app-home-sidebar>
    </div>
  </div>

  <!-- Đặt dưới danh sách bài, trên khối đăng ký: người mới đọc hết danh sách
       mới nhất rồi thì đây là chỗ mời họ đào sâu tiếp theo chủ đề, chứ đẩy lên
       trên sẽ chèn ép nội dung chính của blog. -->
  <app-category-showcase></app-category-showcase>

  <div class="mb-4 mt-8">
    <app-subscribe-notify></app-subscribe-notify>
  </div>
</div>
