.home__container {
  display: flex;
  gap: 2.5rem;

  .home__content {
    width: 62%;
  }

  .home__aside {
    flex: 1;
    min-width: 0;
  }
}

@media screen and (max-width: 900px) {
  .home__container {
    flex-direction: column;
    gap: 1.5rem;

    > .home__content,
    > .home__aside {
      width: 100%;
    }
  }
}
