<section class="post-list">
  <!-- Loading skeleton -->
  <ng-container *ngIf="isLoading">
    <div class="post-card post-card--skeleton" *ngFor="let i of [1, 2, 3]">
      <div class="post-card-thumb post-card-thumb--skeleton"></div>
      <div class="post-card-body">
        <div class="skeleton-line" style="width: 40%"></div>
        <div class="skeleton-line" style="width: 80%; height: 1.4rem"></div>
        <div class="skeleton-line" style="width: 100%"></div>
        <div class="skeleton-line" style="width: 60%"></div>
      </div>
    </div>
  </ng-container>

  <!-- Post cards -->
  <ng-container *ngIf="!isLoading && posts.length > 0">
    <article class="post-card" *ngFor="let post of posts; trackBy: trackById">
      <a
        [routerLink]="['/news', post.CategoryNewsId, post.NewsId]"
        class="post-card-thumb">
        <img
          *ngIf="post.Thumbnail"
          [src]="post.Thumbnail"
          [alt]="post.ShortTitle" />
        <div
          *ngIf="!post.Thumbnail"
          class="post-card-thumb-placeholder"
          [style.background-color]="post._placeholderColor"></div>

        <div class="post-card-badges">
          <span *ngIf="post.CategoryNewsName" class="post-badge">{{
            post.CategoryNewsName
          }}</span>
        </div>
        <span class="post-card-readtime">
          {{ post.EstimatedReadingTime }} Min Read
        </span>
      </a>

      <div class="post-card-body">
        <p class="post-card-meta">
          <span class="post-card-author">{{ post.FullName }}</span>
          on {{ post.CreatedDTime | date: 'MMMM d, yyyy' }}
        </p>

        <a
          [routerLink]="['/news', post.CategoryNewsId, post.NewsId]"
          class="post-card-title">
          {{ post.ShortTitle }}
        </a>

        <p class="post-card-excerpt">{{ post.ShortDescription }}</p>

        <div
          class="post-card-hashtags"
          *ngIf="post.LstHashTagNews && post.LstHashTagNews.length > 0">
          <span *ngFor="let ht of post.LstHashTagNews" class="post-hashtag"
            >{{ ht.HashTagNewsName }}</span
          >
        </div>
      </div>
    </article>

    <div class="post-list-pagination">
      <pagination
        [pageIndex]="currentPage + 1"
        [itemCount]="itemCount"
        (onPageIndexChange)="handlePageIndexChange($event)"
        [size]="'small'" />
    </div>
  </ng-container>

  <!-- Empty state -->
  <ng-container *ngIf="!isLoading && posts.length === 0">
    <div class="post-list-empty">Chưa có bài viết nào</div>
  </ng-container>
</section>
