<nz-modal
  class="importexcel__container"
  [nzVisible]="isOpenPopup"
  nzTitle="Import excel"
  (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <div class="text-center">
      <nz-upload
        nzListType="picture"
        nzAccept=".xlsx"
        nzMultiple="false"
        [(nzFileList)]="fileList">
        <app-button-common
          *ngIf="fileList.length === 0"
          [text]="'Import .xlsx file'"
          [iconType]="'upload'"
          [iconTheme]="'outline'"
          [nzType]="'dashed'"></app-button-common>
      </nz-upload>
    </div>
  </div>

  <div class="importexcel__footer" *nzModalFooter>
    <app-button-common
      [class]="'underline'"
      [text]="'Download template'"
      [iconType]="'download'"
      [iconTheme]="'outline'"
      [nzType]="'link'"
      (_onClick)="handleUploadFile($event)"></app-button-common>
    <app-button-common
      [text]="'Upload'"
      (_onClick)="handleUploadFile($event)"></app-button-common>
  </div>
</nz-modal>
