<button
  nz-button
  [ngClass]="class"
  [nzType]="nzType"
  [disabled]="disabled"
  [nzSize]="nzSize"
  (click)="handleClick()"
  [nzBlock]="nzBlock"
  [nzDanger]="nzDanger"
  [nzShape]="nzShape"
  [nzLoading]="nzLoading"
  [nzGhost]="nzGhost"
  nz-popconfirm
  [nzCondition]="!isShowConfirm"
  [nzPopconfirmTitle]="titleConfirm"
  (nzOnConfirm)="isShowConfirm && confirm()"
  (nzOnCancel)="cancel()">
  <span class="button-common__content">
    <app-icon-common
      *ngIf="iconType"
      [iconType]="iconType"
      [iconTheme]="iconTheme"
      [iconRotate]="iconRotate"></app-icon-common>
    <span *ngIf="text">{{ text }}</span>
  </span>
</button>

<!-- (nzOnConfirm)="isShowConfirm && confirm()"  /* chặn việc call 2 lần onClick */ -->
