<button
  nz-button
  [ngClass]="class"
  [nzType]="nzType"
  [disabled]="disabled"
  [nzSize]="nzSize"
  (click)="handleClick?.($event)"
  [nzBlock]="nzBlock"
  [nzDanger]="nzDanger"
  [nzShape]="nzShape"
  [nzLoading]="nzLoading"
  [nzGhost]="nzGhost"
  nz-popconfirm
  [nzCondition]="!isShowConfirm"
  [nzPopconfirmTitle]="titleConfirm"
  (nzOnConfirm)="isShowConfirm && confirm()"
  (nzOnCancel)="cancel()">
  <p>
    <app-icon-common
      *ngIf="iconType"
      [iconType]="iconType"
      [iconTheme]="iconTheme"
      [iconRotate]="iconRotate"></app-icon-common>
    {{ text }}
  </p>
</button>

<!-- (nzOnConfirm)="isShowConfirm && confirm()"  /* chặn việc call 2 lần onClick */ -->
