<div class="chess-lobby">
  <div class="chess-lobby__card">
    <h1 class="chess-lobby__title">{{ 'T_CHESS' | translate }}</h1>
    <p class="chess-lobby__desc">{{ 'T_CHESS_LOBBY_DESC' | translate }}</p>

    <label class="chess-lobby__label">{{ 'T_CHESS_YOUR_NAME' | translate }}</label>
    <input
      nz-input
      [(ngModel)]="playerName"
      [placeholder]="'T_CHESS_YOUR_NAME_PLACEHOLDER' | translate"
      (keyup.enter)="createRoom()"
      maxlength="30" />

    <p class="chess-lobby__error" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button
      nz-button
      nzType="primary"
      nzSize="large"
      class="chess-lobby__submit"
      [nzLoading]="isCreating"
      (click)="createRoom()">
      {{ 'T_CHESS_CREATE_ROOM' | translate }}
    </button>

    <div class="chess-lobby__divider">{{ 'T_CHESS_OR' | translate }}</div>

    <button
      nz-button
      nzSize="large"
      class="chess-lobby__vs-computer"
      routerLink="/game/chess/vs-computer">
      {{ 'T_CHESS_VS_COMPUTER' | translate }}
    </button>
  </div>
</div>
