<section class="topics">
  <div class="topics-header">
    <span class="topics-label">KHÁM PHÁ CHỦ ĐỀ MỚI</span>
  </div>

  <!-- Loading skeleton -->
  <ng-container *ngIf="isLoading">
    <div class="topics-list">
      <div
        *ngFor="let i of [1, 2, 3, 4, 5, 6]"
        class="topic-pill topic-pill--skeleton"></div>
    </div>
  </ng-container>

  <!-- Topic pills -->
  <ng-container *ngIf="!isLoading && topics.length > 0">
    <div class="topics-list">
      <a
        *ngFor="let topic of topics; trackBy: trackById"
        routerLink="/news"
        [queryParams]="{ categoryId: topic.id }"
        class="topic-pill">
        {{ topic.name }}
      </a>
    </div>
  </ng-container>
</section>
